body{
    min-height:2000px;
}
.github-icon{
    position:fixed;
    top:0;
    right:0;
    margin-top:10px;
    margin-right:10px;
    cursor: pointer;
}
.landing-logo{
    top:0;
    left:0;
    position:fixed;
    margin-left:10px;
    margin-top:10px;
    font-weight:bold;
    font-size:17px;
    transition: transform 0.3s;
    cursor: pointer;

}
.landing-logo:hover{
    color: rgb(236, 111, 66);
}
.taskoo-header{
    font-weight:bold;
    font-size:25px;
    text-align:left;
    margin-left:10px;
    margin-top:60px;
    line-height:32px;
}
.taskoo-word{
    text-decoration:underline;
    font-style:none;
    color: rgb(236, 111, 66);
    font-size:25px;
}
.taskboo-tagline{
    margin-top:-40px;
    text-align:left;
    font-size:15px;
    font-weight:bold;
    line-height:18px;
    margin-top:0px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.play-button{
    height:35px;
    width:35px;
    cursor:pointer;
    margin-top:40px;
    display:flex;
    align-items:left;
    justify-content:left;
    margin-left:20px;
    
}
.play-button-desc{
    font-weight:bold;
    margin-top:-45px;
    align-items:left;
    justify-content:left;
    margin-left:20px;
    font-size:10px;
}

span{
    display:block;
    line-height:5px;
    color:grey;
}
.span-element{
    margin-left:60px;
    color: rgb(236, 111, 66);
}
.landing-page-btn{
    height:45px;
    width:160px;
    cursor:pointer;
    background-color:rgb(236, 111, 66);
    color:white;
    font-weight:bold;
    font-size:17px;
    border-radius: 20px 20px 20px 20px;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    border:none;
    transition: transform 0.2s;
    padding:0;
    margin-bottom:50px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
}
.landing-page-btn:hover{
    transform:scale(1.1);
}
.landing-container{
    height:600px;
    width:100%;
    margin-left:-20px;
    margin-top:-50px;
    margin-right:10px;
    padding:0;
   align-items:center;
   justify-content:center;
   display:flex;
}