html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.overview-section{
    display:flex;
    flex-direction: row;
    min-height: 100%;
}
.overview-sidebar-section{
    flex:0.2;
    width:100%;
    height:117vh;
}
.categories-section{
    flex:1;
}

.categories-upper-section{
    display:flex;
    flex-direction:row;
    margin-top:55px;
}
.work-section{
    flex:1;
    background-color:pink;
    height:42vh;
    margin-left:40px;
    margin-right:40px;
    border-radius:15px 15px 15px 15px;
}
.health-section{
    flex:1;
    background-color:lightblue;
    height:42vh;
    margin-right:40px;
    border-radius:15px 15px 15px 15px;
}
.categories-lower-section{
    display:flex;
    flex-direction:row;
    margin-top:37px;
    padding:0;
    margin-bottom:-20px;
}
.private-section{
    flex:1;
    background-color:beige;
    height:42vh;
    margin-left:40px;
    margin-right:40px;
    border-radius:15px 15px 15px 15px;
}
.goals-section{
    flex:1;
    background-color:rgb(190, 235, 181);
    height:42vh;
    margin-right:40px;
    border-radius:15px 15px 15px 15px;
}
.work-section-header, .health-section-header, .private-section-header, .goals-section-header{
    font-size:15px;
    font-weight:bold;
    padding-top:20px;
}
.container1 {
    height:340px;
    width:340px;
    align-items:center;
    justify-content:center;
    display:flex;
    padding:0;
    cursor: pointer;
    margin-top:-60px;
    margin-left:100px;
}
.container3 {
    height:430px;
    width:430px;
    align-items:center;
    justify-content:center;
    display:flex;
    padding:0;
    cursor: pointer;
    margin-top:-100px;
    margin-left:80px;
}
.container2{
    height:370px;
    width:370px;
    align-items:center;
    justify-content:center;
    display:flex;
    padding:0;
    cursor: pointer;
    margin-top:-60px;
    margin-left:82px;
}
.container4{
    height:425px;
    width:425px;
    align-items:center;
    justify-content:center;
    display:flex;
    padding:0;
    cursor: pointer;
    margin-top:-90px;
    margin-left:65px;
}