.overview-section{
    display:flex;
    flex-direction: row;
}
.sidebar-section{
    flex:0.3;
    width:100%;
    height:117vh;
    border-right:1px solid rgb(228, 220, 220);
    box-shadow: 3px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.categories-section{
    flex:1;
}
span{
    display:block;
    font-size:15px;
    font-weight:bold;
    margin-bottom:20px;
    margin-left:80px;
    text-align:left;
    cursor:pointer;
    margin-right:20px;
}
.main-sidebar-items{
    margin-top:60px;
    padding:0;
}
.extra-sidebar-items{
    margin-top:350px;
}
.overview-icon{
    margin-left:-50px;
    margin-right:10px;
    padding:0;
}