.stats-section{
    display:flex;
    flex-direction:row;
}
.stats-sidebar-section{
    flex:0.2;
    width:100%;
    border-right:1px solid rgb(228, 220, 220);
    box-shadow: 3px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.piecharts-section{
    flex:1;
}
.top-stats{
    display:flex;
    flex-direction:row;
    padding:0;
    margin-top:-40px;
    margin-left:-40px;
}
.bottom-stats{
    display:flex;
    flex-direction:row;
    padding:0;
    margin-top:-40px;
    margin-left:-40px;

}