.stats-section{
    display:flex;
    flex-direction:row;
}
.stats-sidebar-section{
    flex:0.2;
}
.piecharts-section{
    flex:1;
}
/* .top-stats{
    display:flex;
    flex-direction:row;
    padding:0;
    margin-top:-40px;
    margin-left:-40px;
}
.bottom-stats{
    display:flex;
    flex-direction:row;
    padding:0;
    margin-top:-40px;
    margin-left:-40px;

} */

.top-stats{
    display:flex;
    flex-direction:row;
    margin-top:50px;
  
}
.bottom-stats{
    display:flex;
    flex-direction:row;
   

}
